:root {
  --sidebar-mode: 0;
  --timeslidermode: 1;
  --track-color: #ddd;
}

.google-button {
  margin-left: 920px;
  transition: background-color .3s, box-shadow .3s;
    
  padding: 12px 16px 12px 42px;
  border: none;
  border-radius: 3px;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 1px 1px rgba(0, 0, 0, .25);
  
  color: #757575;
  font-size: 14px;
  font-weight: 500;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
  
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNMTcuNiA5LjJsLS4xLTEuOEg5djMuNGg0LjhDMTMuNiAxMiAxMyAxMyAxMiAxMy42djIuMmgzYTguOCA4LjggMCAwIDAgMi42LTYuNnoiIGZpbGw9IiM0Mjg1RjQiIGZpbGwtcnVsZT0ibm9uemVybyIvPjxwYXRoIGQ9Ik05IDE4YzIuNCAwIDQuNS0uOCA2LTIuMmwtMy0yLjJhNS40IDUuNCAwIDAgMS04LTIuOUgxVjEzYTkgOSAwIDAgMCA4IDV6IiBmaWxsPSIjMzRBODUzIiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNNCAxMC43YTUuNCA1LjQgMCAwIDEgMC0zLjRWNUgxYTkgOSAwIDAgMCAwIDhsMy0yLjN6IiBmaWxsPSIjRkJCQzA1IiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNOSAzLjZjMS4zIDAgMi41LjQgMy40IDEuM0wxNSAyLjNBOSA5IDAgMCAwIDEgNWwzIDIuNGE1LjQgNS40IDAgMCAxIDUtMy43eiIgZmlsbD0iI0VBNDMzNSIgZmlsbC1ydWxlPSJub256ZXJvIi8+PHBhdGggZD0iTTAgMGgxOHYxOEgweiIvPjwvZz48L3N2Zz4=);
  background-color: white;
  background-repeat: no-repeat;
  background-position: 12px 11px;
}

.spotifylogoutbutton{
  fill:rgb(201, 187, 32);
}

.spotifybuttonbackground{
  fill:rgb(32, 201, 150);
}

.App {
  text-align: center;
}

.tuneinlogo {
  width:300px;
  position: absolute;
  top: -50px;
}

.spotifybutton{
  position: absolute;
  right: 10px;
  top: 25px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #29186d;
  height: 110px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(20px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.repl {
  position:relative;
  min-height:95vh;    
}

.repl-history {      
  height:60vh;   
  margin: auto;
  display: block;
  overflow: scroll;    
}

.command-result {
  text-align: left;
  padding: 1vh;
}

circle {
  opacity: 1;
}

.draggable {
  cursor: move;
}

/* Sidebar stuff */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*{
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body{
    background: #f5f6fa;
}

.wrapper .sidebar{
    background: rgb(73, 58, 173);
    position: absolute;
    top: 110px;
    right: 0;
    width: calc(255px + 30px*(1 - var(--sidebar-mode)));
    height: 600px;
    padding: 20px 0;
    transition: all 0.5s ease;
    overflow-y: scroll;
}

.wrapper .sidebar .profile{
  margin-bottom: 30px;
  text-align: center;
}

.hidden{
  display: none
}

.wrapper .hidden{
  display: none;
}

.wrapper .sidebar .hidden{
  display: none;
}

.wrapper .sidebar .defaultbar img{
  display: block;
  position: absolute;
  top: 32px;
  right:0px;
  width: 240px;
  height: 225px;
  opacity: var(--sidebar-mode)
}

.warningscreen{
  position: absolute;
  top: 110px;
  left: 0;
}

.aboutustext{
  position: absolute;
  top: 10px;
  left: 10px;
}

.aboutusinfo{
  position: absolute;
  top: 200px;
  left: 400px;
}

.wrapper .sidebar .defaultbar .defaultbardescriptors{
  display: block;
  position: relative;
  top: 460px;
  right:0px;
  width: 240px;
  height: 225px;
  opacity: var(--sidebar-mode)
}

.wrapper .sidebar .userbar .parameterdescriptors{
  display: block;
  position: relative;
  top: 500px;
  right:0px;
  width: 240px;
  height: 225px;
  opacity: calc(1 - var(--sidebar-mode))
}

.wrapper .sidebar .userbar h2{
  position: absolute;
  top: 60px;
  left: 25px;
  opacity: calc(1 - var(--sidebar-mode));
  color: #ffffff;
}

.wrapper .sidebar .userbar h3{
  position: absolute;
  text-align: left;
  top: 95px;
  left: 25px;
  opacity: calc(1 - var(--sidebar-mode));
  color: #ffffff;
}

.wrapper .sidebar .userbar p{
  position: relative;
  text-align: left;
  top: -110px;
  left: 25px;
  opacity: calc(1 - var(--sidebar-mode));
  color: #ffffff;
}

.wrapper .sidebar .userbar .whitetext{
  /* font: italic 40px serif; */
      font: normal 20px helvetica;
      fill: rgb(255, 255, 255);
      opacity: calc(1 - var(--sidebar-mode));
}

.wrapper .sidebar .userbar .paramdisplay{
  position: absolute;
  top: 120px;
  left: 10px;
}

.wrapper .sidebar .defaultbar h3{
  opacity: var(--sidebar-mode);
  color: #ffffff;
  font-size: 14px;
  margin: 5px 0 5px;
}

.wrapper .sidebar .defaultbar h2{
  opacity: var(--sidebar-mode);
  color: #ffffff;
  margin: 10px 0 5px;
}

.wrapper .sidebar .defaultbar p{
  color: rgb(206, 240, 253);
  font-size: 14px;
}

.wrapper .sidebar .matchesdisplay{
  background: rgb(92, 149, 218);
  position: absolute;
  top: 200px;
  right: 20px;
  width: 200px;
  height: 387.5px;
  opacity: calc(2*var(--sidebar-mode) - 1);
  transition: all 0.5s ease;
}

.bottomtext{
  padding: 15px;
  text-indent: 30px;
  text-align: left;
}

.wrapper .svgwindow{
  background: rgb(95, 163, 223);
}

.wrapper .fixedscreenbutton{
  position: absolute;
  top: 110px;
  left: 0;
}

.wrapper .fixedscreengradient{
  position: absolute;
  top: 220px;
  left: 0;
}

.wrapper .bubblecontainer{
  width: 100%;
  height: 600px;
  overflow-x: scroll;
  overflow-y: scroll;
}

.google-button {
  position:absolute;
  right: 25px;
  transition: background-color .3s, box-shadow .3s;
    
  padding: 12px 16px 12px 42px;
  border: none;
  border-radius: 3px;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 1px 1px rgba(0, 0, 0, .25);
  
  color: #757575;
  font-size: 14px;
  font-weight: 500;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
  
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNMTcuNiA5LjJsLS4xLTEuOEg5djMuNGg0LjhDMTMuNiAxMiAxMyAxMyAxMiAxMy42djIuMmgzYTguOCA4LjggMCAwIDAgMi42LTYuNnoiIGZpbGw9IiM0Mjg1RjQiIGZpbGwtcnVsZT0ibm9uemVybyIvPjxwYXRoIGQ9Ik05IDE4YzIuNCAwIDQuNS0uOCA2LTIuMmwtMy0yLjJhNS40IDUuNCAwIDAgMS04LTIuOUgxVjEzYTkgOSAwIDAgMCA4IDV6IiBmaWxsPSIjMzRBODUzIiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNNCAxMC43YTUuNCA1LjQgMCAwIDEgMC0zLjRWNUgxYTkgOSAwIDAgMCAwIDhsMy0yLjN6IiBmaWxsPSIjRkJCQzA1IiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNOSAzLjZjMS4zIDAgMi41LjQgMy40IDEuM0wxNSAyLjNBOSA5IDAgMCAwIDEgNWwzIDIuNGE1LjQgNS40IDAgMCAxIDUtMy43eiIgZmlsbD0iI0VBNDMzNSIgZmlsbC1ydWxlPSJub256ZXJvIi8+PHBhdGggZD0iTTAgMGgxOHYxOEgweiIvPjwvZz48L3N2Zz4=);
  background-color: white;
  background-repeat: no-repeat;
  background-position: 12px 11px;
}

.wrapper .sidebar .matchesdisplay rect {
  fill:rgb(113, 113, 219);
  stroke-width:3;
  stroke:rgb(0,0,0)
}

.wrapper .sidebar .matchesdisplay .timesliderbg {
  fill:rgb(208, 208, 230);
  stroke-width:3;
  stroke:rgb(0,0,0)
}

.wrapper .sidebar .matchesdisplay .timeslider{
  transition-duration: 500ms;
  fill:rgb(143, 70, 191);
  transform: translate(calc(100px*var(--timeslidermode)),0);
  stroke-width:3;
  stroke:rgb(0,0,0);
  opacity: 100%;
}


rect {
  fill:rgb(64, 64, 194);
  stroke-width:3;
  stroke:rgb(0,0,0)
}

.whitetext{
  /* font: italic 40px serif; */
      font: normal 20px helvetica;
      fill: rgb(255, 255, 255);
}

.whitetext2{
  /* font: italic 40px serif; */
      font: normal 15px helvetica;
      fill: rgb(255, 255, 255);
}

.whitetextbig{
  /* font: italic 40px serif; */
      font: normal 50px helvetica;
      fill: rgb(255, 255, 255);
}