:root {
    --sidebar-mode: 0;
    --timeslidermode: 1;
    --track-color: #ddd;
  }
  
  .pagewrapper .animsvg{
    background: rgb(0, 0, 0);
  }
  .pagewrapper .animsvg{
    background: rgb(0, 0, 0);
  }